@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 14px;
    color: #ccc;
    background-color: #2b2f4b;
}

.container {
    max-width: 1200px;
    padding: 2rem 1rem;;
    margin: auto;
}

header .info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    height: 100vh;
}

header .info-text h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Ubuntu';
}

header .info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .info-text p {
    font-size: 2rem;
}

header .info-text a i {
    margin-top: 5rem;
    color: #ccc;
    cursor: pointer;
}

.particles {
    position: absolute;
    width: 100%;
    height: 100vh;
}