@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 14px;
    color: #ccc;
    background-color: #2b2f4b;
}

.container {
    max-width: 1200px;
    padding: 2rem 1rem;;
    margin: auto;
}

header .info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    height: 100vh;
}

header .info-text h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Ubuntu';
}

header .info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .info-text h3 {
    font-size: 1.5rem;
}

header .info-text .scroll {
    border: 1px solid #2b2f4b;
    height: 50px;
    width: 50px;
    color: #ccc;
    background-color: #2b2f4b;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: pulse 2s infinite
}

header .info-text .scroll:hover {
    border: 1px solid #ccc;
}

@keyframes pulse {
    0%, 100%{
        opacity: 1;
    }
    15%, 45%{
        opacity: 1;
    }
    60%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

.particles {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#about .header h1 {
    font-size: 1.5rem;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#about .header, #features .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

#about .header a, #features .header a {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #2b2f4b;
    padding: 1rem 4rem;
    background-color: #2b2f4b;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#about .header a:hover, #features .header a:hover {
    border: 1px solid #ccc; 
}

#about .card {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #2b2f4b;
    padding: 2rem;
    border: 1px solid #2b2f4b;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

#about .card:hover {
    border: 1px solid #ccc;
}

#about .card .logo {
    width: 12rem;
}

#about .card .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #ccc;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

/* Features */

#features .feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

#features .feature-cards .card i {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#features .feature-cards .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.8rem;
    align-items: center;
    background-color: #2b2f4b;
    padding: 2rem;
    border: 1px solid #2b2f4b;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

#features .feature-cards .card:hover {    
    border: 1px solid #ccc;
}

.scroll-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    border: 1px solid #2b2f4b;
    height: 50px;
    width: 50px;
    color: #ccc;
    background-color: #2b2f4b;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}

.scroll {
    cursor: pointer;
    color: #ccc;
    background-color: #2b2f4b;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    transition: all 0.3s ease-in-out;   
}

.scroll-top:hover {
    border: 1px solid #ccc;
}



/* Media Queries */


@media screen and (max-width: 720px) {
    header .info-text h1{
        font-size: 4rem;
    }

    header .info-text h3{
        font-size: 1.1rem;
    }

    #about .card{
        flex-direction: column;
        align-items: center;
    }

    #about .card img{
        max-width: 150px;
        max-height: 150px;    
    }

    #features .feature-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 600px) {
    #features .feature-cards .card:last-of-type {
        grid-column: span 2;
    }
}

@media screen and (max-width: 500px) {
    #features .feature-cards{
        grid-template-columns: repeat(1, 1fr);
    }
}
