@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'sans-serif';
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
}

body {
    color: #fff;
    background-color: #e9ff99;
    background-image: 
        radial-gradient(at 9% 89%, hsla(215, 90%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 72% 6%, hsla(331, 74%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 24% 19%, hsla(14, 90%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 65% 6%, hsla(6, 79%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 20% 98%, hsla(316, 72%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 44% 9%, hsla(40, 96%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 9%, hsla(76, 65%, 63%, 1) 0px, transparent 50%);
    min-height: 100vh;
}

.glass-container {
    display: block;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.56);
    max-width: 72vw;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);   
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.content {
    display: flex;
    width: 100%;
}

.text {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text h2 {
    font-size: 35px;
}

.text p {
    font-size: 15px;
    line-height: 1.5rem;
}

.text button {
    margin-top: 10px;
    padding: 10px 70px;
    width: 100%;
    background: none;
    color: #fff;
    border: 1px solid;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.text button:hover {
    border-color: #2668db;
    background: #2668db;
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    max-width: 500px;
}

.attrebute {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 12px;
}

.logo {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
}

.navbar .nav-links {
    display: flex;
    float: right;
    list-style: none;
    font-size: 12px;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
    .content {
        flex-direction: column;
    }
}
@media screen and (max-width: 720px){
    .image-wrapper img {
        max-width: 300px;
        margin-top: 10vh;
    }
}