*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: space-between;
}

nav .nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: bold;
}

nav .nav-links a {
    color: white;
}

nav .nav-logo{
    max-width: 100px;
    display: flex;
}

nav .nav-logo img{
    width: 100%;
}

.link a {
    position: relative;
}

.link a::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #1d4ed8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.link a:hover::after {
    transform: scaleX(1);
}

.btn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: .5rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
}


/* Header Section */

header .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    color: white;
}

header .content article {
    line-height: 1.5;
    font-size: larger;
}

header .content article p {
    margin: 1rem 0;
}


header .content article h1 {
    font-size: 3rem;
    font-weight: bold;
}


.content .hero {
    width: 100%;
}

