@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: space-between;
}

nav .nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: bold;
}

nav .nav-links a {
    color: white;
}

nav .nav-logo{
    max-width: 100px;
    display: flex;
}

nav .nav-logo img{
    width: 100%;
}

.link a {
    position: relative;
}

.link a::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #1d4ed8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.link a:hover::after {
    transform: scaleX(1);
}

.btn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
}


/* Header Section */

header .blur {
    position: absolute;
    box-shadow: 0 0 1000px 85px #1b3888;
    z-index: -100;
}

header .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    color: white;
}

header .content article {
    line-height: 1.5;
    font-size: larger;
    position: relative;
}

header .content article p {
    margin: 1rem 0;
}



header .content article h1 {
    font-size: 3rem;
    font-weight: bold;
}


.content .hero {
    width: 100%;
}

/* Feature Section */

.section-header {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
}

.content .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #242424;
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
    color: white;
    line-height: 1.5;
    border: 2px solid transparent;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.features .card:hover {
    border: 2px solid #1d4ed8;
    transform: scale(1.05);
}

.features .card span {
    display: inline-block;
    font-size: 4rem;
    color: #1d4ed8;
    margin-bottom: 1rem;
}

.features .card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.features .card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.features .card a {
    color: #1d4ed8;
    font-weight: bold;
}


/* Pricing Plans */

.sub-header {
    color: white;
    font-size: 1rem;
    font-weight: medium;
    margin: 2rem 0;
    max-width: 600px;
}

.content .pricing {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.content .pricing .card {
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
    color: white;
    line-height: 1.5;
    border: 2px solid transparent;
    background: linear-gradient(#242424, #242424) padding-box,
                linear-gradient(to right, #1d4ed8, #ff9933) border-box;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.content .pricing .card:hover {
    transform: scale(1.05);
    border-color: #ff9933;
}

.content .pricing .card .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content .pricing .card .content  h4{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1d4ed8;
}

.content .pricing .card .content  h3{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff9933;
}

.content .pricing .card .content >i {
    font-size: 2rem;
    color: #1d4ed8;
    margin-bottom: 1rem;
}

/* Footer Section */

footer .logo {
    max-width: 100px;
}

footer .logo .img {
    width: 100%;
}

footer .content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr)
}

footer .content .column {
    
}

footer .content .column h4{
    color: #1d4ed8;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

footer .content .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .content .column > a {
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

footer .content .column > a:hover {
    color: #1d4ed8;
}

footer .content .column .blur {
    position: absolute;
    box-shadow: 0 0 1000px 85px #1b3888;
    z-index: -100;
}
footer .content .column {
    position: relative;
}

footer .content .socials {
    display: flex;
    gap: 2rem;
}
footer .content .socials a {
    color: #ccc;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .content .socials a:hover {
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

.copyright {
    background-color: #242424;
}

.copyright .content {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-size: .8rem;
}

@media (width < 600px) {
    nav .nav-links {
        display: none;
    }

    nav .nav-logo{
        max-width: 80px;
        display: flex;
    }

    header .content {
        grid-template-columns: repeat(1, 1fr);
    }
    .content .features, .content .pricing {
        grid-template-columns: repeat(2, 1fr)
    }
    footer .content {
        gap: 1rem;
        grid-template-columns: 1fr 200px;
    }
        
    footer .logo {
        max-width: 80px;
    } 
    
}

@media (width < 400px) {
    .content .features, .content .pricing {
        grid-template-columns: repeat(1, 1fr)
    }
    footer .content {
        gap: 1rem;
        grid-template-columns: 150px repeat(1, 1fr)
    } 
}